@{
    ViewBag.Title = "FIGHT CLUB | NORDIC HACK DAY";
}


<div class="container login">
    <div class="form">
        @using (Html.BeginForm("Index", "User", FormMethod.Get))
        {
            @Html.Label("Username: ")
            @Html.TextBox("id")
            <button type="submit">Login</button>
        }
    </div>
</div>

