<!doctype html>
<html>
<head>
    <title>@ViewBag.Title | | NORDIC HACK DAY</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="/content/assets/dist/css/game.css">
</head>
<body>
    <header><h1>Fight Club!</h1></header>

    <div id="content">
        @RenderBody()
    </div>

</body>
</html>

