@model FightClub.Models.Match

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <h4>Match @Model.User1 vs @Model.User2</h4>
    <hr />
    <dl class="dl-horizontal">
        @if (ViewBag.ActiveUser == "User1")
        {
            <text>you're user1, create action here</text>
        }
        else
        {
            <text>you're user2, update action here</text>
        }
    </dl>
</div>
<p>
</p>
