@model FightClub.Models.Match

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <h4>Match @Model.User1 vs @Model.User2</h4>
    <hr />
    <dl class="dl-horizontal">
        @Model.User1Move1
    </dl>
</div>
<p>
</p>
